name: Compile LaTeX
 uses: xu-cheng/latex-action@v4
 with:
   root_file: main.tex
   working_directory: tex


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v4
        with:
          root_file: Compendio_Programacion_C.tex

      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: Compendio-PDF
          path: main.pdf
